



<div class="container-fluid chat-box">
   
    
        <p class="user-message sent">
          
        
          Hello this is anas and I completely hate you so you people should not wait for me and die he he he he 
          <br>
          <br>
          <span class="sender">Anas Aijaz</span>
        </p>
        <p class="user-message">
            Hello this is anas and I completely hate you so you people should not wait for me and die he he he he 
            <br>
            <br>
            <span class="sender">Anas Aijaz</span>
          </p><p class="user-message">
            Hello this is anas and I completely hate you so you people should not wait for me and die he he he he 
  
          </p><p class="user-message sent">
          Hello this is anas and I completely hate you so you people should not wait for me and die he he he he 

        </p><p class="user-message">
            Hello this is anas and I completely hate you so you people should not wait for me and die he he he he 
  
          </p><p class="user-message sent">
            Hello this is anas and I completely hate you so you people should not wait for me and die he he he he 
  
          </p>
 
   
</div>
<div class="send">
    <div class="row send-controls">
        <div class="col-10">
            Enter your message here...
        </div>
        <div class="col-2">
            Send
        </div>
    </div>
</div>