<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
     <div class="col-8">
      <h1>This is Scary</h1> 
     </div>
    </div>
  </div>
</div>


<%= render "layouts/postholder" , obj:@user.posts%>



