development:
  adapter: redis
  url: <%= ENV.fetch("REDIS_URL") { "redis://localhost:6379/1" } %>
  channel_prefix: rails-chat-tutorial_development

test:
  adapter: async

production:
  adapter: redis
  url: redis://redistogo:c3a78472c5982cf40e03bf26bd580b33@scat.redistogo.com:11752/
