<div class="containerwrapper">

  <div class="container-fluid newpostholder">
  
    <%= form_with(model:@posts) do |f| %>
  <div class="row">
  
    
  
  
        <%= f.text_area :post , id:"post" , placeholder:"What's on your mind biatch?" ,minlength:10 ,maxlength:96%>
  
  
        
        
      </div>
      <div class="row d-flex justify-content-center">
        <%= f.submit "Post" ,id:"pstbtn",class:"btn btn-primary btn-block text-uppercase mb-2 rounded-pill shadow-sm"%>
        
  </div>
  <% end %>
  
  
  </div>

</div>
