<div class="row justify-content-center">

<%=render "layouts/post" , obj:@post%>

<%=render "layouts/comment" , obj:@post%>
</div>

<div class="container commentholder" >

    <%if @post.comments.count != 0 %>

<%= render "layouts/commentSection" , comments: @post.comments.includes(:user) %>
<%else%>
<%= render "layouts/nocomments" , obj:@post%>
<%end%>

</div>
