// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.chat-box::-webkit-scrollbar {
    display: none;
  }

.chat-box{
    height: 80vh;
    padding: 20px;
    width: 90vw;
}
.send{

    background-color: lawngreen;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}    
.user-message{
    background-color:royalblue;
    color: white;
    width: 50vw;
    padding: 20px 30px 20px 30px;
    border-radius: 50px;
}

.sent{
    margin-left: auto;
    background-color:orange;
    color: black;
}

.send-controls{
    padding: 20px;
    overflow:hidden;
}

.sender{
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
    background-color: black;
    
}

@media (max-width:768px){
    .chat-box{
        width: 100vw;
    }
    .send{
        width: 100vw;
    }
}