// Place all the styles related to the messages controller here.
// They will automatically be included in application.scss.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/


.chat-box::-webkit-scrollbar {
    display: none;
  }


.send{

    background-color: lawngreen;
    bottom: 0;
    position: fixed;
   
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}    

.sender{
    background-color: black;
    color: white;
    text-align: right;
    font-size: 12px;
    border-radius: 50px;
    font-weight: bold;
}

.user-message{
    background-color:royalblue;
    color: white;
    width: 50vw;
    padding: 20px 30px 20px 30px;
    border-radius: 50px;
}

.sent{
    margin-left: auto;
    background-color:orange;
    color: black;
}

.send-controls{
    padding: 10px ;
    overflow:hidden;
}

.sender{
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 100px;
    background-color: black;
    
}

@media (max-width:768px){
    .chat-box{
        width: 100vw;
    }
    .send{
        width: 100vw;
    }
}