// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.commentholder{
    margin-bottom: 5px;
    padding: 10px 20px;
    width: 75vw;
    background:rgb(223, 223, 223);
    border-radius: 5px;
}

.comment-comment{

}
.comment-username{
    font-weight: bold;
}
.containerwrapper{
    height: 100vh;
    background-image: url("https://i.ytimg.com/vi/p7TDpx0hsn4/maxresdefault.jpg");

}

.newpostholder{
    
    margin-top: 10vh;
    border-radius: 10px;
    width: 75vw;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.newpostholder #post{
    width: 100%;
}

.newpostholder .row{
    padding: 20px 20px;
}
#post {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    height: 300px;
    font-size: 35px;
    background:none;
    overflow-y: hidden;
  }

  #pstbtn{
      width: 20vw;
      color: white;
      font-weight: bolder;
      background-color: black;
      border: black;
  }

  #post::placeholder{
      color: rgb(71, 71, 71);
  }
  
  #post:focus {
    outline: none;
  }

  .quote{
      background: none;
      transform: scaleX(-1);
      width: 60px;
      margin-right: 20px;
  }
  
  .bi-heart:active{
      font-size: 30px;
  }
  .bi-heart:hover{
      color: red;
      
  }

  .bi-heart-fill{
      color: red;
  }

  .rounded-circle{
      border: 3px dashed black;
  }

  // Comment box Styling
  .comment-box{
      background:none;
      border: none;
      outline: none;
      width: 100%;
      padding: 10px;
  }

  .comment-button{
      border: none;
      background: none;
      outline: none;
      color: blue;
      font-weight: bold;
  }

@media (max-width:768px){

    .username a{
        font-size: 15px;
    }

    .quote{
        width: 30px;
    }

    .comment-button{
        font-size: 12px;
    }

    .like-count{
        font-size: 12px;
    }


    .newpostholder{
        width: 100vw;
    }

    #post{
        font-size: 25px;
        height: 250px;

    }
    #pstbtn{
        width: 100vw;
    }
}