// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.badge i{
	font-size: 20px;
}

.options{
	background-color:skyblue;
}

.user{
height: 200px;
}

.user img{
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.user p{
	font-size: 18px;
	margin-bottom: 0;
}

.zodiac{
	font-size: 20px;
	font-family: monospace;
}


.row:nth-child(2) button{
	margin-top: 10px;
}

.badges{
	padding-top: 10px;
	padding-bottom: 10px;
}

.mycontainer{
	margin-top: 50px;
	width:75vw;

}


.user .wrap{
	background-color: royalblue;
}

.p-wrap{
	height: 50px;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.floating{
	position: fixed;
	bottom: 10px ;
	right:10px ;
}

// post holder CSS start now

.postholder{
	height: 400px;
	width: 75vw;
	padding:20px 50px 20px 50px;
	margin:10px 0px 100px 0px;
	background-color: springgreen;
	border-radius: 10px;
}

.username i{
	padding-right: 10px;
}

.username{
	font-size: 20px;
}


.pop{
	font-size: 40px;
}

.response i{
	font-size: 25px;
	padding-right: 20px;
}

@media (max-width: 767px) {
	
	.pop{
		font-size: 30px;
	}
.date{
	font-size: 12px;
}
	.container{
		width: 100vw;
	}
	.user img{
		width: 100px;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
	.user p{
		font-size: 12px;
		margin-bottom: 0;
	}

	.zodiac{
		font-size: 20px;
		font-family: monospace;
	}

	.row:nth-child(2) button{
		margin-top: 10px;
	}

	.badges{
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.option button{
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
	

  }