// Place all the styles related to the users controller here.
// They will automatically be included in application.scss.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

@media (min-width: 800px) and (max-width: 850px) {
	.navbar:not(.top-nav-collapse) {
		background: #1C2331!important;
	}
}

.carousel,.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item,.view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}



.mycontainer{
	background-color: yellow;

}
.badge i{
	font-size: 30px;
	
}


.badges{
	margin-top: 10px;
	margin-bottom: 10px;
}


.options{
	height: 50px;
	overflow: hidden;
	
	padding-top: 8px;
}

.user{
height: 230px;
}

.user img{
	width: 150px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.user p{
	font-size: 18px;
	margin-bottom: 0;
}

.zodiac{
	font-size: 20px;
	font-family: monospace;
}


.row:nth-child(2) button{
	margin-top: 10px;
}





.user .wrap{
	background-color: royalblue;
}

.p-wrap{
	height: 50px;
}

.mycontainer{
padding-top: 30px;
margin-top: 20px;


}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.floating{
	position: fixed;
	bottom: 10px ;
	right:10px ;
}

// post holder CSS start now

.postholder{
	width: 75vw;
	padding:20px 50px 20px 50px;
	margin:20px 0px 20px 0px;
	background: springgreen;
	transition: background-color 300ms linear;
	border-radius: 10px;
}

.postholder:hover{
	background: yellow;
	transition: background-color 300ms linear;
}
.username i{
	padding-right: 10px;
}

.username{
	font-size: 20px;
}


.pop{
	font-size: 40px;
	height: 180px;
	overflow-wrap: break-word;
}

.response i{
	font-size: 25px;
	padding-right: 20px;
}

.profile-logo{
	width: 35px;
	margin-right: 5px;
	background-color: hotpink;
	
}

.date{
 text-align: right;
}

.welcome{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

// Sign Up page

.display-4{
	font-size: 35px;
	overflow: hidden;
}
.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: image-url("castle.png");
  background-size: cover;
  background-position: center center;
}
.terms-label{
	font-size: 12px;
}
// end Sign up page



@media (max-width: 767px) {

	.mycontainer{
		padding-top: 30px;
		margin-top: 20px;
		
		
		}
		
	.pop{
		font-size: 25px;
	}
    .date{
		font-size: 10px;
}  


.postholder{
	
	padding:20px 30px 20px 30px;
	margin:10px 0px;
	
	
}

.container{
	width: 100vw;
}
.user img{
	width: 100px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.user p{
	font-size: 12px;
	margin-bottom: 0;
}

.zodiac{
	font-size: 10px;
	font-family: monospace;
}

.row:nth-child(2) button{
	margin-top: 10px;
}

.option button{
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.response i{
	font-size: 15px;
	padding-right: 2px;
}

.badge i{
	font-size: 20px;
}

.display-4{
	font-size: 30px;
	overflow: hidden;
	text-align: center;
}

  }