// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.mycontainer{

	border: 2px solid #0C9;
	width:75vw;

}

.user:first-child{
	background-color: rebeccapurple;
	height: 150px;
}

.user{
	border: 2px solid black ;
}

.user .wrap{
	background-color: royalblue;
}

.p-wrap{
	height: 50px;
}
.myrow{
	border:2px teal;
}


.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.floating{
	position: fixed;
	bottom: 10px ;
	right:10px ;
}

@media (max-width: 767px) {
	.wrap h2{
		z
	}
  }