


<% comments.each do |c| %>

  
<div class="row">
<div class="col-md-1 col-sm-2 comment-username">
<a href="<%=profile_path(c.user)%>"><%=c.user.username%></a>
</div>

  <div class="col-md-10 col-sm-9 comment-comment">
 
  <%=c.comment%>
  </div>
  <div class="col-md-1 col-sm-1">
    <%=c.created_at.strftime("%d %b")%>
  </div>
</div> 


  <%end%>
