
  <%= form_with(model:@comment , url: comment_path(obj), method: "create") do |f| %>
  <div class="row">

  
    <div class="col-8">
      <%= f.text_field :comment , class:"comment-box" , autocomplete:"off" , placeholder:"Enter a comment"%>

    </div>
    <div class="col-4 d-flex justify-content-end">
      <p class="date">

        <%= f.submit "comment" , class:"comment-button" %>

      </p>

    </div>
    
    </div>
    <% end %>
